/* Project starts here */

.body {
  font-size: 14px;
}

/* This is the navbar */
.example {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

/* This is the grouping of the div element */
section {
  margin: 0 auto;
	padding-top: 140px;
  width: 100%;
}

.h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.h3 {
  font-size: 1.3em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

.div {
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

/* These divs are green */
.element {
  background-color: green;
}

/* These divs are blue */
.feature {
  background-color: blue;
}
